@model Documents
<form method="post" asp-action="Upload" enctype="multipart/form-data">
    <div class="border p-3 mt-4">    
        <div class="row pb-4">
            <h2 class="text-primary">
                Upload File
            </h2>
            <hr />
            </div>

         @*   <div asp-validation-summary="ModelOnly"></div>
            <div class="mb-3">
               <label asp-for="Document_Name"></label>
                  <input asp-for="Document_Name" class="form-control"/>
                  <span asp-validation-for="Document_Name" class="text-danger"></span>
            </div>*@
            

      <input type="file" name="files" multiple required />
    <input type="text" autocomplete="off" placeholder="Enter File Description" name="description" required />

    <button type="submit" class="btn btn-primary" asp-controller="Upload" asp-action="Upload">Upload</button>
        </div>


</form>
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"></partial>
    }
}

