<html>

    <head>
           
        <title>Support</title>
        <link rel ="stylesheet" href = "~/css/Support.css">
    </head>
    <body>

        <div class = "contact-box">
               
            <form>
  <div>
        <img src="~/css/logo.jpg"  />
    </div>
    <h2>Send Us Message</h2>
                <input type = "text" class = "input-field" placeholder ="Email">
                <input type = "text" class = "input-field" placeholder ="Subject">
                <textarea type = "text" class = "input-field textarea-field" placeholder ="Message"></textarea>
                <button type = "button" class ="btn">Submit</button>
            </form>
            </div>
    </body>
</html>

